.container
  = tinymce_assets
  .start_page
    =render "pages/first_page"

%main
  .container
    #animation-2.animation
    #scene-2.wrap
      %h2 Tinymce
      -if user_signed_in?
        = render 'messages/new'
      -else
        %h4
          to add your msgs please
          %a.btn.btn-danger{ :href => "#first"}sign in
      #msg
        = render('messages/message', :messages => @messages)
      -#= text_area_tag :content, "", :class => "tinymce",id:"tiny_area", :rows => 10, :cols => 12,placeholder: "type msg"
      -#.btn.btn-default#send send
      -#%a.btn.btn-default.danger{'data-toggle' => 'popover',role:"button" ,'data-trigger' => 'focus','data-placement' => 'right', :href => '#',  :title => 'Popover'}pop
      -#.popover{:style => 'display: none'}
      .all_emoji
        .beer-mug
        .bento-box
        .bgok
        .blowfish
        .blush
        .boar
        .bowtie
        .bus-stop
        .cactus
        .cake
        .car
        .cat-face
        .cat-face-with-tears-of-joy
        .cat-face-with-wry-smile
        .chicken
        .circled-ideograph-secret
        .cloud
    #animation-3.animation
    #scene-3.wrap
      %h2 DROPZONE  puzzle
      -if user_signed_in?
        = render 'uploads/new'
        .show_puzzle
        #show_imgs
          = render 'uploads/index'
      -else
        %h4
          to upload your imgs please
          %a.btn.btn-danger{ :href => "#first"}sign in
          %br
            %br
          = image_tag("22.jpg", size: "400x300", alt: "Avatar",class:"jqPuzzle")
          %br
            %br


        -#= render 'uploads/puzzle_modal'
      -#%img.jqPuzzle{:alt => "Animals crossing", :src => "/assets/11.jpg"}
    #animation-5.animation
    #scene-5.wrap
      -#%h2 YouTube
      -#%iframe{:allowfullscreen => "", :frameborder => "0", :height => "720", :src => "https://www.youtube.com/embed/oh_1c4NFnk4", :width => "1280"}
    = tinymce
  .footer
    %h1
      Footer with my contacts