.container
  = tinymce_assets
  .start_page
    =render "pages/first_page"

%main
  .container
    #animation-2.animation
    #scene-2.wrap
      %h2 Tinymce
      =form_for(Message.new ,remote: true ) do |f|
        = f.text_area :msg, :class => "tinymce",id:"tiny_area" ,:rows => 10, :cols => 12
        = f.submit "Send",id:"send"
      #msg
        = render('messages/message', :messages => @messages)
      -#= text_area_tag :content, "", :class => "tinymce",id:"tiny_area", :rows => 10, :cols => 12,placeholder: "type msg"
      -#.btn.btn-default#send send
      -#%a.btn.btn-default.danger{'data-toggle' => 'popover',role:"button" ,'data-trigger' => 'focus','data-placement' => 'right', :href => '#',  :title => 'Popover'}pop
      -#.popover{:style => 'display: none'}
      .all_emoji
        .beer-mug
        .bento-box
        .bgok
        .blowfish
        .blush
        .boar
        .bowtie
        .bus-stop
        .cactus
        .cake
        .car
        .cat-face
        .cat-face-with-tears-of-joy
        .cat-face-with-wry-smile
        .chicken
        .circled-ideograph-secret
        .cloud
    #animation-3.animation
    #scene-3.wrap
      %h2 DROPZONE  drag img

      .dz
      = render 'uploads/new'
      = render 'uploads/index'
    #animation-5.animation
    #scene-5.wrap
      %h2 YouTube
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "720", :src => "https://www.youtube.com/embed/oh_1c4NFnk4", :width => "1280"}
    = tinymce