!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'WoWorld'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'WoWorld'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            -#%span.sr-only Toggle navigation
            -#%span.icon-bar
            -#%span.icon-bar
            -#%span.icon-bar
            = link_to 'WoWorld', root_path, class: 'navbar-brand'
            - if user_signed_in?
              -#  %br
              -#  .navbar-brand
              -#    Hello
              -#    = succeed "" do
              -#      %strong= current_user.email
              -#  -#-if current_user.image.small_thumb.blank? || !current_user.image.small_thumb.file.exists?
              -#  -#  = image_tag("default.png", size: "30x30", alt: "Avatar",class:"img-circle")
              -#  -#-else
              -#  -#  = image_tag(current_user.image.small_thumb,class:"img-circle")
              -#  -#.pull-right
              -#  -#  = link_to "edit profile", edit_user_registration_path, :class => 'navbar-link',class:"btn btn-default menu"
              -#  -#  =link_to "+add fraud",new_fraud_path, :class => 'navbar-link',class:"btn btn-default menu
              =link_to "logout", destroy_user_session_path, method: :delete, :class => 'navbar-link',class:"btn btn-default menu"
            .pull-right
              -#%button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              -#  =t(:language)
              -#  .caret
              -#%ul.dropdown-menu
              -#  %li
              -#    =link_to "English", locale: :en
              -#  %li
              -#    =link_to "Русский", locale: :ru
              .btn-group
                %button.btn.btn-danger{:type => "button"}
                  =t(:language)
                %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                  %span.sr-only Toggle Dropdown
                %ul.dropdown-menu
                  %li
                    =link_to "English", locale: :en
                  %li
                    = link_to 'Русский', :locale=>'ru'

    %main{:role => "main"}
      -#= render 'layouts/messages'
      = yield